---
layout: default
title: Playing
category: playing
---

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
      <li class="active visible-xs-block"><a href="{{ site.baseurl }}/links.html">Links</a></li>
      <li class="active"><a href="{{ site.baseurl }}/guitar">Guitar</a></li>
      <li class="active"><a href="{{ site.baseurl }}/hovercraft">Hovercraft</a></li>
      <li class="active"><a href="{{ site.baseurl }}/sailing">Sailing</a></li>
      <li class="active"><a href="{{ site.baseurl }}/photography">Photography</a></li>
  </ul>
</div>

{% for post in site.posts %}
  {% if post.categories contains 'playing' %}
  <div class="post">
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="meta">Date: {{ post.date }}</p>
    <div class="entry">
      {{ post.content | strip_html | truncatewords: 100 }}
    </div>
  </div>
  {% endif %}
{% endfor %}
