---
layout: default
title: Writing
category: writing
---
<div class="col-md-3 hidden-xs">
    <div class="sidebar well">
      <i>{{ site.description }}</i>
    </div>
    
    <div class="sidebar well">
      <table>
        <tr>
          <td style="padding-left: 12px">
            <h5>Some Self-Teaching Tools I've Created</h5>
            <li><a href="/downloads/Open and Neck Chords in a Key - 6th String Root.pdf">Open and Neck Chords in a Key - 6th String Root</a>
            <li><a href="/downloads/Open and Neck Chords in a Key - 5th String Root.pdf">Open and Neck Chords in a Key - 5th String Root</a>
            <li><a href="/downloads/Music_Theory_101.pdf">Music_Theory_101</a>
          </td>
        </tr>
      </table>
    </div>
    <!--{% include sidebar.html %}-->
</div>

<div class="col-md-9">

{% assign categoryPosts = site.posts | where:'category','writing' %}

{% assign categorySubcategories = categoryPosts | group_by:'subcategory' %}

{% for catsub in categorySubcategories %}

  <h3 style="border-bottom:solid 1px black">{{ catsub.name }}</h3>

  {% assign subcatPosts = categoryPosts | where:'subcategory',catsub.name %}

  {% for post in subcatPosts %}
  <div class="post">
    <h5 class="title">{{ post.authors }} ({{ post.dates }}). <a href="{{ post.url }}">{{ post.title }}</a>.
      {{ post.sponsor }}.
      {% if post.pages != '' %}
        {{ post.pages }}.
      {% endif %}
      {% if post.DOI != '' %}
        DOI={{ post.DOI }}.
      {% endif %}
      {% if post.editors != '' %}
        {{ post.editors }}.
      {% endif %}
    </h5>
  </div>
  {% endfor %}


{% endfor %}

</div>
