---
layout: default
title: Speaking
category: speaking
---
<div class="col-md-3 hidden-xs">
    <div class="sidebar well">
      <i>{{ site.description }}</i>
    </div>
    
    <div class="sidebar well">
      <table>
        <tr>
          <td style="padding-left: 12px">
            <h5>Some Self-Teaching Tools I've Created</h5>
            <li><a href="/downloads/Open and Neck Chords in a Key - 6th String Root.pdf">Open and Neck Chords in a Key - 6th String Root</a>
            <li><a href="/downloads/Open and Neck Chords in a Key - 5th String Root.pdf">Open and Neck Chords in a Key - 5th String Root</a>
            <li><a href="/downloads/Music_Theory_101.pdf">Music_Theory_101</a>
          </td>
        </tr>
      </table>
    </div>
    <!--{% include sidebar.html %}-->
</div>

<div class="col-md-9">

{% for post in site.posts %}
  {% if post.categories contains 'speaking' %}
  <div class="post">
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="entry">
      <b>{{ post.date | date: "%Y-%m-%-d" }}.</b> {{ post.content | strip_html | truncatewords: 100 }}
    </div>
    {% if post.report != '' %}
      <p>Presentation: <a href="/downloads/{{ post.report }}">{{ post.report }}</a></p>
    {% endif %}
  </div>
  {% endif %}
{% endfor %}

</div>
