<div class="post">
  <h4 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
  <strong>Award:</strong> {{ post.award }}&nbsp;<strong>Role:</strong> {{ post.role }}<br />
  <strong>Sponsor:</strong> {{ post.sponsor }}&nbsp;<strong>Dates:</strong> {{ post.dates }}



  <!-- <div class="entry">
    <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
  </div> -->
  {% if post.website != '' %}
    <p>Website: <a href="{{ post.website }}">{{ post.website }}</a></p>
  {% endif %}
  {% if post.report != '' %}
    <p>Report: <a href="/downloads/{{ post.report }}">{{ post.report }}</a></p>
  {% endif %}
  {% if post.report2 != '' %}
    <p>Report: <a href="/downloads/{{ post.report2 }}">{{ post.report2 }}</a></p>
  {% endif %}
  {% if post.report3 != '' %}
    <p>Report: <a href="/downloads/{{ post.report3 }}">{{ post.report3 }}</a></p>
  {% endif %}
  {% if post.report4 != '' %}
    <p>Report: <a href="/downloads/{{ post.report4 }}">{{ post.report4 }}</a></p>
  {% endif %}
  {% if post.report5 != '' %}
    <p>Report: <a href="/downloads/{{ post.report5 }}">{{ post.report5 }}</a></p>
  {% endif %}
  {% if post.report6 != '' %}
    <p>Report: <a href="/downloads/{{ post.report6 }}">{{ post.report6 }}</a></p>
  {% endif %}
  {% if post.media1 != '' %}
    <p>Media: <a href="/downloads/{{ post.media1 }}">{{ post.media1title }}</a></p>
  {% endif %}
  {% if post.media2 != '' %}
    <p>Media: <a href="/downloads/{{ post.media2 }}">{{ post.media2title }}</a></p>
  {% endif %}
  {% if post.media3 != '' %}
    <p>Media: <a href="/downloads/{{ post.media3 }}">{{ post.media3title }}</a></p>
  {% endif %}

</div>
