---
layout: default
title: Coaching
category: coaching
---
<div class="col-md-3 hidden-xs">
    <div class="sidebar well">
      <i>{{ site.description }}</i>
    </div>

    <div class="sidebar well">
      <table>
        <tr>
          <td style="padding-left: 12px">
            <h5>Featured Youth Sports Organizations</h5>
            <li>Basketball: <a href="http://eastcoastfusion.com/">East Coast Fusion - Youth Development Program</a></li>
            <li>Soccer: <a href="http://www.newriverunited.com/">New River United Soccer Association</a></li>
            <li>Baseball: <a href="http://www.blacksburgbaseball.com/">Blacksburg Baseball Association</a></li>
          </td>
        </tr>
      </table>
    </div>
</div>

<div class="col-md-9">

{% for post in site.posts %}
  {% if post.categories contains 'coaching' %}
  <div class="post">
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="meta">Date: {{ post.date }}</p>
    <div class="entry">
      {{ post.content | strip_html | truncatewords: 100 }}
    </div>
  </div>
  {% endif %}
{% endfor %}

</div>
